{{ 'snippet-custom-product-card.css' | asset_url | stylesheet_tag }}

{% liquid
  assign current_variant = product.selected_or_first_available_variant
  assign featured_image = current_variant.image | default: product.featured_image
%}

{% style %}
{% endstyle %}

<custom-product-card>
  <a href="{{ product.url }}" class="custom-product-card__link">
    <div class="custom-product-card__image-container">
      {% render 'responsive-picture', class: 'media media--square', desktopImage: featured_image %}
    </div>
    <div class="custom-product-card_text-content">
      {% if product.title != blank %}
        <a href="{{ product.url }}" class="custom-product-card__title">{{ product.title }}</a>
      {% endif %}

      <div class="custom-product-card__vendor">{{ product.vendor }}</div>

      <span
        class="
          {% if current_variant.price < current_variant.compare_at_price %}
            custom-product-card__price
          {% endif %}
        "
      >
        {{- current_variant.price | money_without_trailing_zeros -}}
      </span>
      <s class="custom-product-card__compare-price">
        {{- current_variant.compare_at_price | money_without_trailing_zeros -}}
      </s>
    </div>
  </a>
</custom-product-card>
