{{ "section-shop-the-look.css" | asset_url | stylesheet_tag }}

{% style %}
  .padding-{{ section.id }} {
    padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
    padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
  }

  @media (min-width: 750px) {
    .padding-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .background-{{ section.id }}{
    background-color: {{ section.settings.section_background }}
  }

  {% for block in section.blocks %}
      .shop-look__postion-{{ block.id }}{
        top : {{ block.settings.top_position }}%;
        left : {{ block.settings.left_position }}%;
      }
  {% endfor %}

{% endstyle %}



<div class="shop-look padding-{{ section.id }}" >
  <div class="page-width">
    {% if section.settings.section_heading != blank %}
      <h2 class="h2">{{ section.settings.section_heading }}</h2>
    {% endif %}
    <div class="grid grid--1-col grid--2-col-tablet grid-2-col-desktop background-{{ section.id }}">
      <div class="grid__item">
        <div class="shop-look__image">
        {% if section.settings.image != blank %}
          {% render "responsive-image" 
            desktopImage : section.settings.image, 
            mobileImage : section.settings.image_mobile
            class : "media media--square"
          %}
        {% else
          <div class="media media--square">
            {{ "image" | placeholder_svg_tag }}
          </div>
        %}
        {% endif %}
          {% for block in section.blocks %}
            <div class="shop-look__dots shop-look__postion-{{ block.id }}">
              <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none" class="icon-circle">
            	<circle class="icon-circle" cx="5.5" cy="5.5" r="5.5" fill="#fff"></circle>
              </svg>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="grid__item">
        {% for product in all_products["blocks.settings.product"] %}
          {{ product.title }}
          
        {% endfor %}  
        
      </div>
    </div>
  </div>
</div>  


{% schema %}
  {
    "name": "Shop the look",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Adjuct Section Padding"
      },
      {
        "type" : "color",
        "id" : "section_background",
        "label" : "Section background",
        "default" : "#f5f5f7"
      },
      {
        "type" : "text",
        "id" : "section_heading",
        "label" : "Section Heading",
        "default" : "Look of the Day"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding bottom",
        "default": 36
      },
      {
        "type": "header",
        "content": "Image Settings"
      },
      {
        "type" : "image_picker",
        "id" : "image",
        "label" : "Image"
      },
      {
        "type" : "image_picker",
        "id" : "image_mobile",
        "label" : "Image (Mobile)"
      }
    ],
    "blocks" : [
      {
        "type" : "product-content",
        "name" : "Product content",
        "settings" : [
          {
            "type" : "product",
            "id" : "product",
            "label" : "Choose product"
          },
          {
            "type" : "range",
            "id" : "left_position",
            "label" : "Distance from left",
            "min" : 10,
            "max" : 100,
            "step" : 1,
            "default" : 20,
            "info" : "The Distance measured from left %"
          },
          {
            "type" : "range",
            "id" : "top_position",
            "label" : "Distance from Top",
            "min" : 10,
            "max" : 100,
            "step" : 1,
            "default" : 20,
            "info" : "The Distance mesured from top %"
          }
        ]
      }
    ],
    "presets" : [
      {
        "name" : "Shop the look"
      }
    ]
  }
{% endschema %}